<% include ./partials/header %>
<link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="background-image:url(https://ak4.picdn.net/shutterstock/videos/11128214/thumb/1.jpg)">
         
        <div class="container ">
                <div class="row text-center">
                    <div>
                            <h2 style="font-family:Mali,cursive">Username : <%=user['username'] %></h2>
                    </div>
                    <div>
                    <h2 style="font-family:Mali,cursive">Profile Picture :</h2><img src="/uploads/<%=user['imgname'] %>"class="img-thumbnail" alt="" width="300px" height="300px">   
                    </div>
                    <div>
                            <table class="table table-bordered text-center">
                                    <tbody>
                                        <tr>
                                            <td>College:</td>
                                            <td>Fr Conceicao Rodrigues College Of Engineering</td>
                                        </tr>
                                        <tr>
                                                <td>Username:</td>
                                                <td><%=user['username']%></td>
                                              </tr>    
                                      <tr>
                                        <td>Email:</td>
                                        <td><%=user['email']%></td>
                                      </tr>
                                      
                                      <tr>
                                        <td>Role:</td>
                                        <td><%=user['isAdmin']%></td>
                                      </tr>
                                    </tbody>
                                  </table>
                    </div>
                    <div class="text-centered">
                            <h2>   <% if(currentUser['username']!==user['username']){ %></h2>
                                        <a class="btn btn-danger btn-lg">Send Message</a>
                                        <% } else{ %> 
                                    <button class="btn btn-primary btn-lg">Add Status</button>
                                    <a class="btn btn-success btn-lg" href="/logout">Logout</a>
                               <% } %>
                              
                            </div>
                            <div class="form-group">
                                    <textarea columns=40 rows=4 id="add" type="text" class="form-control" autofocus name="status" style="display:none"></textarea>
                                </div>
                    </div>
<script>
    $("button").click(function(){
        console.log("reached");
         $("#add").css({'display':'block'})
});

</script>
</body>
</html>